body{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    background-image: linear-gradient(to left,orange,purple,cyan);
    color:black;
    font-weight: 800;
    font-size:20px;
    display: flex;
}
ul{
    display: inline-block;
}